{% extends "base.html" %}
<!--{% if form.validate_on_submit() %}  用于判断是否点击了提交按钮-->
{% block content %}
    <h1>Edit Profile</h1>
    <form action="" method="POST">
        <p>
        {{ form.hidden_tag() }}
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}<br>
        {% for error in form.username.errors %}
            <span style="color: red">{{ error }}</span>
        {% endfor %}
        </p>
        <p>
        {{ form.about_me.label }}<br>
        {{ form.about_me(cols=50, rows=4) }}<br>
        {% for error in form.about_me.errors %}
            <span style="color: red">{{ error }}</span>
        {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% if form.validate_on_submit() %}
        <a href="{{url_for('user', username = current_user.username)}}">Back To Profile!</a>
    {% else %}
        <p>请先提交您的个性签名!</p>
    {% endif %}
{% endblock %}
