{% extends "base.html" %}
<!--novalidate 属性规定当提交表单时不对其进行验证 如果使用该属性 则表单不会验证表单的输入-->
<!--form.hidden_tag() 模板参数将被替换为一个隐藏字段 用来是实现在配置中激活的 CSRF 保护-->
<!--如果你已经激活了 CSRF 这个字段需要出现在你所有的表单中-->
{% block content %}
    <h1>Sign In</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
			{{ form.username.label }}<br>
			{{ form.username(size=32) }}<br>
			{% for error in form.username.errors %}
			<span style="color:red;">[{{ error }}]</span>
			{% endfor %}
        </p>
        <p>
			{{ form.password.label }}<br>
			{{ form.password(size=32) }}<br>
			{% for error in form.password.errors %}
			<span style="color:red;">[{{ error }}]</span>
			{% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
    <p>New User?<a href="{{url_for('register')}}">Click to Register!</a></p>
{% endblock %}
